.e-head {
	background: #e5d9d9;
	padding: 5px;
}

.e-container {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	padding: 10px;
	margin-bottom: 5%;
}
.e-footer {
	background: #e5d9d9;
	padding: 5px;
}
